<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:sec="http://xmlns.oracle.com/weblogic/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wls="http://xmlns.oracle.com/weblogic/security/wls" xsi:schemaLocation="http://xmlns.oracle.com/weblogic/security/wls http://xmlns.oracle.com/weblogic/security/wls/1.0/wls.xsd http://xmlns.oracle.com/weblogic/domain http://xmlns.oracle.com/weblogic/1.0/domain.xsd http://xmlns.oracle.com/weblogic/security/xacml http://xmlns.oracle.com/weblogic/security/xacml/1.0/xacml.xsd http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator/1.0/passwordvalidator.xsd http://xmlns.oracle.com/weblogic/security http://xmlns.oracle.com/weblogic/1.0/security.xsd">
  <name>obma</name>
  <domain-version>12.2.1.4.0</domain-version>
  <security-configuration>
    <name>obma</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType">
        <sec:name>DefaultAuthenticator</sec:name>
      </sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:name>DefaultIdentityAsserter</sec:name>
        <sec:active-type>AuthenticatedUser</sec:active-type>
        <sec:active-type>weblogic-jwt-token</sec:active-type>
      </sec:authentication-provider>
      <sec:role-mapper xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-role-mapperType">
        <sec:name>XACMLRoleMapper</sec:name>
      </sec:role-mapper>
      <sec:authorizer xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-authorizerType">
        <sec:name>XACMLAuthorizer</sec:name>
      </sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType">
        <sec:name>DefaultAdjudicator</sec:name>
      </sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType">
        <sec:name>DefaultCredentialMapper</sec:name>
      </sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType">
        <sec:name>WebLogicCertPathProvider</sec:name>
      </sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:name>myrealm</sec:name>
      <sec:password-validator xmlns:pas="http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator" xsi:type="pas:system-password-validatorType">
        <sec:name>SystemPasswordValidator</sec:name>
        <pas:min-password-length>8</pas:min-password-length>
        <pas:min-numeric-or-special-characters>1</pas:min-numeric-or-special-characters>
      </sec:password-validator>
    </realm>
    <default-realm>myrealm</default-realm>
    <credential-encrypted>{AES256}dU9GXwKhlWxER4gLhXruhXJiKR84WiX6nmiXCQvIXPhriFGxyTislGdFUdeLLfR9gYmrTuuldX3PLhg56IU41oClh0729Jn/803fKQu6+WoBnESVD+QUQBm8+fVoyMrn</credential-encrypted>
    <node-manager-username>weblogic</node-manager-username>
    <node-manager-password-encrypted>{AES256}KaOGeBZVSn6CiO0LPG8IXNNkF9Uw3XB9u729JLPq7H8=</node-manager-password-encrypted>
  </security-configuration>
  <deployment-configuration></deployment-configuration>
  <console-enabled>true</console-enabled>
  <console-context-path>console</console-context-path>
  <console-extension-directory>console-ext</console-extension-directory>
  <server>
    <name>AdminServer</name>
    <machine>OBMA_MC</machine>
    <listen-port>8001</listen-port>
    <listen-address></listen-address>
    <server-life-cycle-timeout-val>30</server-life-cycle-timeout-val>
    <startup-timeout>0</startup-timeout>
  </server>
  <server>
    <name>config_server</name>
    <machine>OBMA_MC</machine>
    <listen-port>8003</listen-port>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address></listen-address>
    <server-start>
      <arguments>-Dflyway.enabled=false -Dspring.flyway.enabled=false -Dplato.services.config.uri=http://whf00pkg.in.oracle.com:8003 -Dplato.service.logging.path=/scratch/gsh/obma144/debug/configlogs -Xms4g -Xmx4g</arguments>
    </server-start>
  </server>
  <server>
    <name>ic_server</name>
    <ssl>
      <enabled>true</enabled>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>true</hostname-verification-ignored>
      <export-key-lifespan>500</export-key-lifespan>
      <client-certificate-enforced>false</client-certificate-enforced>
      <listen-port>8006</listen-port>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <server-private-key-alias>obma.oracle.com</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>{AES256}VOmF4scX8XuO+/oLzHg1N2EPbu5tJqhl+QCjlBrRBSw=</server-private-key-pass-phrase-encrypted>
      <ssl-rejection-logging-enabled>true</ssl-rejection-logging-enabled>
      <inbound-certificate-validation>BuiltinSSLValidationOnly</inbound-certificate-validation>
      <outbound-certificate-validation>BuiltinSSLValidationOnly</outbound-certificate-validation>
      <allow-unencrypted-null-cipher>false</allow-unencrypted-null-cipher>
      <use-server-certs>false</use-server-certs>
    </ssl>
    <machine>OBMA_MC</machine>
    <listen-port>8005</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address></listen-address>
    <java-compiler>javac</java-compiler>
    <server-start>
      <arguments>-Dflyway.enabled=false -Dspring.flyway.enabled=false -Dplato.services.config.uri=http://whf00pkg.in.oracle.com:8003 -Dplato.service.logging.path=/scratch/gsh/obma144/debug/iclogs -Xms4g -Xmx4g</arguments>
    </server-start>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <key-stores>CustomIdentityAndJavaStandardTrust</key-stores>
    <custom-identity-key-store-file-name>/scratch/gsh/obma144/workarea/keystore/obic.jks</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>JKS</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>{AES256}w3ZXcaWM44EfksGF5wIZIlkI+yadVbeNWVR9Mblsvlc=</custom-identity-key-store-pass-phrase-encrypted>
    <java-standard-trust-key-store-pass-phrase-encrypted>{AES256}KD9/lm27SBajdBn0z19R00j7tbHWrLZyIrkIpwwTPp4=</java-standard-trust-key-store-pass-phrase-encrypted>
    <server-diagnostic-config>
      <wldf-diagnostic-volume>Low</wldf-diagnostic-volume>
    </server-diagnostic-config>
  </server>
  <server>
    <name>ac_server</name>
    <machine>OBMA_MC</machine>
    <listen-port>8007</listen-port>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address></listen-address>
    <server-start>
      <arguments>-Dflyway.enabled=false -Dspring.flyway.enabled=false -Dplato.services.config.uri=http://whf00pkg.in.oracle.com:8003 -Dplato.service.logging.path=/scratch/gsh/obma144/debug/aclogs -Xms4g -Xmx4g -Dserver.id=1</arguments>
    </server-start>
  </server>
  <server>
    <name>cs_server</name>
    <machine>OBMA_MC</machine>
    <listen-port>8009</listen-port>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address></listen-address>
    <server-start>
      <arguments>-Dflyway.enabled=false -Dspring.flyway.enabled=false -Dplato.services.config.uri=http://whf00pkg.in.oracle.com:8003 -Dplato.service.logging.path=/scratch/gsh/obma144/debug/cslogs -Xms4g -Xmx4g</arguments>
    </server-start>
  </server>
  <production-mode-enabled>true</production-mode-enabled>
  <embedded-ldap>
    <name>obma</name>
    <credential-encrypted>{AES256}ZAPST6KgylCm2txNKiKhcmkxzZbsnfw5GEOT94EuWPIgNbYktw6hMhIGzxJOmAm+</credential-encrypted>
  </embedded-ldap>
  <administration-port-enabled>false</administration-port-enabled>
  <exalogic-optimizations-enabled>false</exalogic-optimizations-enabled>
  <config-backup-enabled>false</config-backup-enabled>
  <configuration-version>12.2.1.4.0</configuration-version>
  <configuration-audit-type>none</configuration-audit-type>
  <cluster-constraints-enabled>false</cluster-constraints-enabled>
  <app-deployment>
    <name>plato-discovery-service-5.3.0</name>
    <target>config_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/plato-discovery-service-5.3.0/app/plato-discovery-service-5.3.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>plato-config-service-5.7.0</name>
    <target>config_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/plato-config-service-5.7.0/app/plato-config-service-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-charge-calc-services-5.7.0</name>
    <target>ic_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-charge-calc-services-5.7.0/app/fcubs-charge-calc-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-intchg-accting-services-5.7.0</name>
    <target>ic_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-intchg-accting-services-5.7.0/app/fcubs-intchg-accting-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-interest-accrual-services-5.7.0</name>
    <target>ic_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-interest-accrual-services-5.7.0/app/fcubs-interest-accrual-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-interest-allocate-services-5.7.0</name>
    <target>ic_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-interest-allocate-services-5.7.0/app/fcubs-interest-allocate-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-interest-batch-services-5.7.0</name>
    <target>ic_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-interest-batch-services-5.7.0/app/fcubs-interest-batch-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-interest-calc-services-5.7.0</name>
    <target>ic_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-interest-calc-services-5.7.0/app/fcubs-interest-calc-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-interest-liquidation-services-5.7.0</name>
    <target>ic_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-interest-liquidation-services-5.7.0/app/fcubs-interest-liquidation-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-interest-resolve-services-5.7.0</name>
    <target>ic_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-interest-resolve-services-5.7.0/app/fcubs-interest-resolve-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>fcubs-ext-accounting-services-5.7.0</name>
    <target>ac_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/fcubs-ext-accounting-services-5.7.0/app/fcubs-ext-accounting-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>obpy-customer-services-5.7.0</name>
    <target>cs_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/obpy-customer-services-5.7.0/app/obpy-customer-services-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>obremo-srv-acc-signature-details-service-5.7.0</name>
    <target>cs_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/obremo-srv-acc-signature-details-service-5.7.0/app/obremo-srv-acc-signature-details-service-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <app-deployment>
    <name>obremo-srv-customer-query-service-5.7.0</name>
    <target>cs_server</target>
    <module-type>war</module-type>
    <source-path>servers/AdminServer/upload/obremo-srv-customer-query-service-5.7.0/app/obremo-srv-customer-query-service-5.7.0.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode xsi:nil="true"></staging-mode>
    <plan-staging-mode xsi:nil="true"></plan-staging-mode>
    <cache-in-app-directory>false</cache-in-app-directory>
  </app-deployment>
  <machine>
    <name>OBMA_MC</name>
    <node-manager>
      <nm-type>SSL</nm-type>
      <listen-address>localhost</listen-address>
      <listen-port>5556</listen-port>
      <debug-enabled>false</debug-enabled>
    </node-manager>
  </machine>
  <cdi-container>
    <implicit-bean-discovery-enabled>true</implicit-bean-discovery-enabled>
  </cdi-container>
  <jmx>
    <compatibility-m-bean-server-enabled>true</compatibility-m-bean-server-enabled>
    <management-ejb-enabled>true</management-ejb-enabled>
    <platform-m-bean-server-enabled>false</platform-m-bean-server-enabled>
    <invocation-timeout-seconds>0</invocation-timeout-seconds>
    <platform-m-bean-server-used>true</platform-m-bean-server-used>
  </jmx>
  <admin-server-name>AdminServer</admin-server-name>
  <administration-protocol>t3s</administration-protocol>
  <jdbc-system-resource>
    <name>jdbc/OBIC</name>
    <target>ic_server</target>
    <descriptor-file-name>jdbc/jdbc2fOBIC-2191-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>jdbc/PLATO</name>
    <target>ac_server,config_server,cs_server,ic_server</target>
    <descriptor-file-name>jdbc/jdbc2fPLATO-1684-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>jdbc/PLATOBATCH</name>
    <target>ac_server,ic_server</target>
    <descriptor-file-name>jdbc/jdbc2fPLATOBATCH-4386-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>jdbc/UBSCUSTOMER</name>
    <target>cs_server</target>
    <descriptor-file-name>jdbc/jdbc2fUBSCUSTOMER-3856-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>jdbc/OBAC</name>
    <target>ac_server,cs_server</target>
    <descriptor-file-name>jdbc/jdbc2fOBAC-2439-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <admin-console>
    <cookie-name>ADMINCONSOLESESSION</cookie-name>
    <protected-cookie-enabled>true</protected-cookie-enabled>
    <session-timeout>3600</session-timeout>
    <min-threads>101</min-threads>
  </admin-console>
  <internal-apps-deploy-on-demand-enabled>true</internal-apps-deploy-on-demand-enabled>
  <log-format-compatibility-enabled>false</log-format-compatibility-enabled>
  <restful-management-services>
    <enabled>true</enabled>
  </restful-management-services>
  <webservice-testpage>
    <enabled>false</enabled>
  </webservice-testpage>
  <partition-uri-space>/partitions</partition-uri-space>
  <diagnostic-context-compatibility-mode-enabled>true</diagnostic-context-compatibility-mode-enabled>
  <lifecycle-manager-config>
    <deployment-type>none</deployment-type>
    <out-of-band-enabled>false</out-of-band-enabled>
  </lifecycle-manager-config>
  <enable-ee-compliant-classloading-for-embedded-adapters>true</enable-ee-compliant-classloading-for-embedded-adapters>
</domain>
